<%- include header %>
<form method="post">
  旧密码：  <input type="password" name="oldpassword"/><br />
  密码：    <input type="password" name="password"/><br />
  确认密码：<input type="password" name="password-repeat"/><br />
           <input type="submit" value="确认修改"/>
</form>
<%- include footer %>
